/*général*/
h1 {
  color: white;
}

/*En tête (header)*/
header{
  background-color:black;
}

ul{
  margin-bottom: 0px;
}

nav ul li{
  display:inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*Parti image (hero)*/
section{
  background-image: url("../images/hero-image.jpg");
  height:618px;
  width: 100%;
  text-align: center;
}

section h1{
  margin-top: 0px;
  padding-top: 60px;
  font-size: 3em;
}
section p{
color: white;
font-size: 1em;

}

p span{
  font-weight: bold;
}

section div p{
  color: white;
  font-size: 1.8em;
  position: fixe;
  padding-left:20px;
  padding-top: 15px;
}

section div{           /*bouge la div rouge*/
  width: 240px;
  height: 55px;
  color:white;
  background-color: #D9534F;                /*contenu du care bleu dans div rouge*/
  border-radius: 5px 5px 5px 5px;
  margin-left: 38%;
  margin-top: 80px;

}
